<p id="notice"><%= notice %></p>

<h1>All Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user, class:"link"%></td>
        <% if user.isAdmin == 1%>
            <td>Yes</td>
        <% else %>
            <td>No</td>
        <% end %>

        <% if current_user.isAdmin == 1 && user.isAdmin == 1%>
          <td><%= link_to "Admin", admin_path(:id => user.id), class: "click-buttons"%></td>
        <%end%>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
